@model SBC.TimeCards.Service.Models.Projects.ProjectViewModel
@using Microsoft.AspNet.Identity;
@using SBC.TimeCards.Common;
@{
    ViewBag.Title = Model.Name;

    var CurrentUserId = Int32.Parse(User.Identity.GetUserId());

}
@section styles
{
    <link rel="stylesheet" href="~/Lucid/assets/vendor/summernote/dist/summernote.css" />
    <style>
        .modal-dialog {
            max-width: 1000px;
        }

        .template-container {
            border: 3px double #e9ecef;
            margin: 10px;
        }

        #networks {
            background-color: #f6f6f6;
            margin: 10px 0;
            padding: 10px;
        }

        #disks {
            background-color: #f6f6f6;
            margin: 10px 0;
            padding: 10px;
        }
    </style>
}

<div class="block-header">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-8">
            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Project #@Model.Id</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active">@Model.Name</li>
                @*<li class="breadcrumb-item active">Page Blank</li>*@
            </ul>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-4 text-right">
            @if (!Model.IsArchived)
            {
                <a href="#" class="btn btn-primary" onclick="addTicket(@Model.Id)"><i class="icon-plus"></i> New Ticket</a>
            }
            @if (Model.Owner.Id == CurrentUserId || User.IsInRole(AppRoles.Administrator))
            {
                if (!Model.IsArchived)
                {
                    <button type="button" class="btn btn-outline-info" onclick="archive(@Model.Id)"><i class="icon-check"></i> <span>Archive Project</span></button>
                }
                else
                {
                    <button type="button" class="btn btn-outline-info" onclick="unArchive(@Model.Id)"><i class="icon-check"></i> <span>Un Archive Project</span></button>
                }
            }

        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="header">
                <h2 class="text-primary ">@Model.Name <span class="badge badge-primary">@Model.Owner.Name</span><small>@Model.Description</small></h2>
                <small>Creation Date : <span class="text-info">@Model.TimeStamp</span></small>
            </div>
            <div class="body" style="padding-top: 0;">
                <ul class="nav nav-tabs-new2" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active show" href="#basic-tab" data-toggle="tab"><i class="icon-tag"></i> Board</a>

                    </li>
                    <li>
                        <a class="nav-link" href="#attachments" data-toggle="tab"><i class="icon-paper-clip"></i> Files</a>
                    </li>
                </ul>  <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="basic-tab">
                        <div class="row clearfix" id="kanban">
                            @{ Html.RenderAction("KanabanByProject", "Tickets", new { id = Model.Id }); }
                        </div>


                        @*<div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">@Model.Name</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            @Model.Description
                                            @Model.TimeStamp
                                            @if (!Model.IsArchived)
                                            {
                                                <input type="button" value="Mark as one" class="btn btn-success" onclick="archive(@Model.Id)" />
                                            }
                                        </div>
                                    </div>
                                    <div class="row">
                                        <a href="#" onclick="addTicket(@Model.Id)"><i class="fa fa-plus"></i> add Ticket</a>
                                    </div>
                                    <div class="row" id="kanban">
                                        @{ Html.RenderAction("KanabanByProject", "Tickets", new { id = Model.Id }); }
                                    </div>
                                </div>
                            </div>*@
                    </div>
                    <div role="tabpanel" class="tab-pane" id="attachments">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="@Url.Action("Create","Attachments", new { id = Model.Id })" class="btn btn-info"><i class="fa fa-upload"></i> Upload File</a>
                                @*@Html.ActionLink("Add Attachment", "Create", "Attachments", new { id = Model.Id }, null)*@
                            </div>
                        </div>
                        <div class="file_manager row clearfix">
                            @{Html.RenderAction("List", "Attachments", new { projectId = Model.Id });}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modals">
    <div class="modal fade" id="edit-ticket-modal">
        <div class="modal-dialog"></div>
    </div>
</div>
@section Scripts{
    <script src="~/Lucid/assets/vendor/summernote/dist/summernote.js"></script>
    @* Please Add This Script To layout..*@
    <script>
        $(document).ready(function () {
            if (document.location.hash.length) {
                $('ul.nav-tabs-new2 a[href^="' + document.location.hash + '"]').click();
            }
        })
        $("ul.nav-tabs-new2 a").click(function () {
            document.location.hash = $(this).attr('href');
        });
    </script>
    <script>
        function archive(id) {

            $.ajax({
                type: 'post',
                url: '@Url.Action("Archive","Projects")',
                data: { id: id },
                success: function (data) {
                    if (data.success) {
                        alert('project Archived');
                        location.href = data.url;
                    }
                }
            })
        }

        function unArchive(id) {

            $.ajax({
                type: 'post',
                url: '@Url.Action("UnArchive","Projects")',
                data: { id: id },
                success: function (data) {
                    if (data.success) {
                        alert('project Un Archived');
                        location.href = data.url;
                    }
                }
            })
        }
    </script>
    <script>
        function addTicket(id) {
            $.ajax({
                type: 'post',
                url: '@Url.Action("Create","Tickets")',
                data: { ProjectId: id },
                success: function (data) {
                    handleTicketEdit(data);
                }
            })
        }
        function editTicket(id) {
            $.ajax({
                type: 'get',
                url: '@Url.Action("Edit","Tickets")',
                data: { id: id },
                success: function (data) {
                    handleTicketEdit(data);
                }

            });
        }
        function handleTicketEdit(data) {
            if (!data.error) {
                //$("#edit-ticket-modal").modal('hide');
                $("#edit-ticket-modal .modal-dialog").empty();
                $("#edit-ticket-modal .modal-dialog").append(data);
                $('.summernote').summernote({
                    callbacks: {
                        onBlur: function () {
                            console.log('Editable area loses focus');
                            var textareaValue = $('#Description').summernote('code');
                            $("#Description").val(textareaValue);
                            $("#Description").trigger("change");
                            console.log(textareaValue);
                        }
                    }
                });
                $("#edit-ticket-modal").modal('show');
            }
            else {
                // alert(data.message);
            }
        }
        $(document).on('change', '#edit-ticket .fields :input,#edit-ticket .fields select', function () {

            var url = "@Url.Action("UpdateField","Tickets")";
            var $this = $(this);
            var inputId =$this.attr('id');
            url = url.replace('Field', inputId);
            $.ajax({
                type: 'post',
                url: url,
                data: { id: $('#edit-ticket').data('tid'), data: $this.val() },
                success: function (res) {
                    // alert(res);
                }
            })
        });
        function addSubTicket(id) {
            $.ajax({
                type: 'post',
                url: '@Url.Action("Create","Tickets")',
                data: { ParentTicketId: id },
                success: function (data) {
                    handleTicketEdit(data);
                }
            })
        }
        $(document).on('hidden.bs.modal', "#edit-ticket-modal", function () {

            debugger;
            var _this = $(this);
            var parentTaskId = _this.data('pid');
            //if the ticket is sub ticket then we need to get back to its parent
            if (parentTaskId > 0) {
                setTimeout(function () { editTicket(parentTaskId); }, 500);
            }
                //if it has no parent then refresh kanban
            else {
                setTimeout(function () { getKanban(); }, 500);
            }
        });
        function getKanban() {
            $.ajax({
                type: 'get',
                url:"@Url.Action("KanabanByProject", "Tickets")",
                data:{id:@Model.Id},
                success:function(data){
                    $("#kanban").empty();
                    $("#kanban").append(data);
                }
            });
        }
        function markDone(id){
            $.ajax({
                type: 'post',
                url:"@Url.Action("MarkDone", "Tickets")",
                data:{id:id},
                success:function(data){
                    $("#mk-done").hide();
                    $("#mk-active").show();
                }
            });
        }
        function markUnDone(id){
            $.ajax({
                type: 'post',
                url:"@Url.Action("MarkUnDone", "Tickets")",
                data:{id:id},
                success:function(data){
                    $("#mk-active").hide();
                    $("#mk-done").show();
                }
            });
        }
        $(document).on('change',"#comment",function(){
            var comment = $(this).val();
            addComment(comment);
        });
        function addComment(comment){

            $.ajax({
                type: 'post',
                url:"@Url.Action("AddComment", "Tickets")",
                data:{TicketId: $('#edit-ticket').data('tid'),Text:comment},
                success:function(data){
                    if(data.success){
                        //$("#comments").prepend("<div class='col-md-12'>"+comment+"</div>");
                        $.get("@Url.Action("GetComments","Tickets")"+"/"+$('#edit-ticket').data('tid'),function(data){
                            $("#comments").replaceWith(data);
                        });
                    }
                }
            });
        }
        function delTicket(id){

            $.ajax({
                type: 'post',
                url:"@Url.Action("Delete", "Tickets")",
                data:{id:id},
                success:function(data){
                    if(data.success){
                        $('#edit-ticket-modal').modal('hide');
                    }
                }
            });
        }
    </script>
    <script>
        //  $(document).ready(function(){
        params = new URLSearchParams(window.location.search);
        var tid = params.get('tid');
        if (tid) {
            editTicket(tid);
        }
        //})
    </script>
    <script>
        function initTemplate(type){
            $.ajax({
                type:'post',
                url:'@Url.Action("Init","Templates")',
                data:{TicketId:$('#edit-ticket').data('tid'),TemplateTypeId:type},
                success:function(data){
                    $("#templates").append(data);
                }
            })
        }
        $(document).on("submit",".up-t",function(e){
            var $this = $(this);
            debugger;
            e.preventDefault();
            $.ajax({
                type:'post',
                url:$this.attr('action'),
                data:$this.serialize(),
                success:function(data){
                    alert('success');
                }
            });
        })
        function deleteTemplate(id,el){
            $.ajax({
                type:'post',
                url:"@Url.Action("Delete","Templates")",
                data:{id:id},
                success:function(data){
                    if(data.success){
                        $(el).closest('.template-container').remove();
                    }
                }
            })
        }
        function addDisk(id,el){
            $this = $(el);
            $.ajax({
                type:'post',
                url:'@Url.Action("InitDisk","Templates")',
                data:{id:id},
                success:function(data){
                    $this.closest("#disks").append(data);
                }
            })
        }
        function addNetwork(id,el){
            $this = $(el);
            $.ajax({
                type:'post',
                url:'@Url.Action("InitServerNetwork", "Templates")',
                data:{id:id},
                success:function(data){
                    $this.closest("#networks").append(data);
                }
            })
        }
        function deleteDisk(id,el){
            $.ajax({
                type:'post',
                url:'@Url.Action("DeleteDisk", "Templates")',
                data:{id:id},
                success:function(data){
                    if(data.success){
                        $(el).closest(".col-2").remove();
                    }
                }
            })
        }
        function deleteNetwork(id,el){
            $.ajax({
                type:'post',
                url:'@Url.Action("DeleteNetwork", "Templates")',
                data:{id:id},
                success:function(data){
                    if(data.success){
                        $(el).closest(".col-2").remove();
                        reOrderNetwork();
                    }
                }
            })
        }
        function reOrderNetwork(){
            $("div[id*=nt-]").each(function(idxx,ell){
                $(ell).find(("input[name*=Network]")).each(function(idx,el){
                    console.log(el);
                    $(el).attr('name','Networks['+idxx+']'+$(el).attr('name').split(']')[1]);
                })
            })
        }
        function reOrderDisk(){
            $("div[id*=dsk-]").each(function(idxx,ell){
                $(ell).find(("input[name*=Disk]")).each(function(idx,el){
                    console.log(el);
                    $(el).attr('name','Disks['+idxx+']'+$(el).attr('name').split(']')[1]);
                })
            })
        }
    </script>

}