@model SBC.TimeCards.Service.Models.Search.SearchResultsViewModel
@using SBC.TimeCards.Common;
@{
    Layout = null;
}

@if (Model.Users.Any())
{
    <h6 style="text-align:left; font-size:12px">Users</h6>
    <ul class="right_chat list-unstyled mb-0">
        @foreach (var item in Model.Users)
        {
            <li class="offline">
                <a href="@Url.Action("Details","Users",new {id=item.Id })">
                    <div class="media" style="margin-bottom:1px">
                        <span class="media-object"><i class="fa fa-user"></i></span>
                        <div class="media-body" style="padding:2px;">
                            <span class="name" style="font-size:12px; text-align:left">@item.Name (@item.Email) <small class="float-right"><span class="badge badge-info">@item.RoleName</span> </small></span>
                            @*<span class="message">There are many variations of passages of Lorem Ipsum available, but the majority</span>*@
                        </div>
                    </div>
                </a>
            </li>
        }
    </ul>
    <hr />
}

@if (Model.Ticktes.Any() || Model.Templates.Any())
{
    <h6 style="text-align:left; font-size:12px">Tickets</h6>
    <ul class="right_chat list-unstyled mb-0">
        @foreach (var item in Model.Templates)
        {
            @*<li class="offline">
                <a href="@Url.Action("Manage","Projects",new { id=item.Ticket.ProjectInfo.Id,tid=item.Ticket.Id })">
                    <div class="media" style="margin-bottom:1px">
                        <span class="media-object"><i class="fa fa-paperclip"></i></span>
                        <div class="media-body" style="padding:2px;">
                            <span class="name" style="font-size:12px; text-align:left">@((TemplateTypes)item.Template.TemplateTypeId) (@item.Ticket.Title)</span>
                        </div>
                    </div>
                </a>
            </li>*@
            <li class="offline">
                <a href="@Url.Action("Manage","Projects",new { id=item.Ticket.ProjectInfo.Id,tid=item.Ticket.Id})">
                    <div class="media" style="margin-bottom:1px">
                        <span class="media-object"><i class="@(item.Ticket.StateId==(int)TicketStates.Delayed?"fa fa-question-circle text-danger":item.Ticket.StateId==(int)TicketStates.Done?"fa fa-check-circle text-success":"fa fa-check-circle-o text-primary")"></i></span>
                        <div class="media-body" style="padding:2px;">
                            <span class="name" style="font-size:12px; text-align:left">
                                @if (item.Ticket.ProjectInfo != null)
                                {
                                    <small><span class="badge" style="color:white;background-color:@item.Ticket.ProjectInfo.Color">@item.Ticket.ProjectInfo.Name</span></small>
                                }
                                @item.Ticket.Title <i class="icon-control-forward"></i> <mark style="font-weight: bold;font-style: italic;">@((TemplateTypes)item.Template.TemplateTypeId)</mark>
                                @if (item.Ticket.Assignee != null)
                                {

                                }
                                <small class="float-right"><i class="icon-clock"></i> @item.Ticket.DueDateAsString </small>
                            </span>
                            @*<span class="message">There are many variations of passages of Lorem Ipsum available, but the majority</span>*@
                        </div>
                    </div>
                </a>
            </li>
        }
        @foreach (var item in Model.Ticktes)
        {
            <li class="offline">
                <a href="@Url.Action("Manage","Projects",new { id=item.ProjectInfo.Id,tid=item.Id})">
                    <div class="media" style="margin-bottom:1px">
                        <span class="media-object"><i class="@(item.StateId==(int)TicketStates.Delayed?"fa fa-question-circle text-danger":item.StateId==(int)TicketStates.Done?"fa fa-check-circle text-success":"fa fa-check-circle-o text-primary")"></i></span>
                        <div class="media-body" style="padding:2px;">
                            <span class="name" style="font-size:12px; text-align:left">
                                @if (item.ProjectInfo != null)
                                {
                                    <small><span class="badge" style="color:white;background-color:@item.ProjectInfo.Color">@item.ProjectInfo.Name</span></small>
                                }
                                @item.Title
                                @if (item.Assignee != null)
                                {

                                }
                                <small class="float-right"><i class="icon-clock"></i> @item.DueDateAsString </small>
                            </span>
                            @*<span class="message">There are many variations of passages of Lorem Ipsum available, but the majority</span>*@
                        </div>
                    </div>
                </a>
            </li>
        }
    </ul>
    <hr />
}
@if (Model.Projects.Any())
{
    <h6 style="text-align:left; font-size:12px">Projects</h6>
    <ul class="right_chat list-unstyled mb-0">
        @foreach (var item in Model.Projects)
        {
            <li class="offline">
                <a href="@Url.Action("Manage","Projects",new { id=item.Id})">
                    <div class="media" style="margin-bottom:1px">
                        <span class="media-object">
                            @if (item.IsArchived)
                            {
                                <i class="icon-notebook"></i>
                            }
                            else
                            {
                                <i class="icon-book-open"></i>
                            }
                        </span>
                        <div class="media-body" style="padding:2px;">
                            <span class="name @(item.IsArchived ? "text-muted" : "")" style="font-size:12px; text-align:left;color:@item.Color">@item.Name <small class="float-right"><span class="badge badge-info">@item.Owner.Name</span> </small></span>
                            @*<span class="message">There are many variations of passages of Lorem Ipsum available, but the majority</span>*@
                        </div>
                    </div>
                </a>
            </li>
        }
    </ul>
    <hr />
    @*<div>
            <h6>Projects</h6>
            @foreach (var item in Model.Projects)
            {
                <a href="">@item.Name</a>
            }
        </div>*@
}

@if (Model.Attachments.Any())
{
    <h6 style="text-align:left; font-size:12px">Users</h6>
    <ul class="right_chat list-unstyled mb-0">
        @foreach (var item in Model.Attachments)
        {
            <li class="offline">
                <a href="@item.Url">
                    <div class="media" style="margin-bottom:1px">
                        <span class="media-object"><i class="fa fa-paperclip"></i></span>
                        <div class="media-body" style="padding:2px;">
                            <span class="name" style="font-size:12px; text-align:left">@item.Title (@item.SizeAsString)<small class="float-right"><span class="badge">@item.Type</span> </small></span>
                            @*<span class="message">There are many variations of passages of Lorem Ipsum available, but the majority</span>*@
                        </div>
                    </div>
                </a>
            </li>
        }
    </ul>
    <hr />
}
@*@if (Model.Templates.Any())
{
    <h6 style="text-align:left; font-size:12px">Templates</h6>
    <ul class="right_chat list-unstyled mb-0">
        @foreach (var item in Model.Templates)
        {
            <li class="offline">
                <a href="@Url.Action("Manage","Projects",new { id=item.Ticket.ProjectInfo.Id,tid=item.Ticket.Id })">
                    <div class="media" style="margin-bottom:1px">
                        <span class="media-object"><i class="fa fa-paperclip"></i></span>
                        <div class="media-body" style="padding:2px;">
                            <span class="name" style="font-size:12px; text-align:left">@((TemplateTypes)item.Template.TemplateTypeId) (@item.Ticket.Title)</span>
                        </div>
                    </div>
                </a>
            </li>
        }
    </ul>
    <hr />
}*@
@if (!(Model.Users.Any() || Model.Ticktes.Any() || Model.Projects.Any() || Model.Attachments.Any() ||Model.Templates.Any()))
{
    <div>
        <h6>
            No Results found
        </h6>
    </div>
    <hr />
}
<a href="@Url.Action("FullResults","Search",new {query=ViewBag.Query })">See all results for <strong>@ViewBag.Query</strong> </a>

