@model SBC.TimeCards.Service.Models.Templates.TemplateViewModel
@using SBC.TimeCards.Common;
@{
    Layout = null;
}
@using (Html.BeginForm("UpdateTemplate", "Templates", FormMethod.Post, new { @class = "up-t" }))
{

    <div class="col-md-12">
        <div>
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.TemplateTypeId)
            @Html.HiddenFor(x => x.TicketId)
            @RenderBody()
        </div>
        <input type="submit" value="Save" />
        <button type="button" onclick="deleteTemplate(@Model.Id)" >Delete</button>
    </div>
}
