@model SBC.TimeCards.Service.Models.Templates.TemplateViewModel
@using SBC.TimeCards.Common;
@{
    Layout = null;
}

<div class="template-container">
    @using (Html.BeginForm("UpdateTemplate", "Templates", FormMethod.Post, new { @class = "up-t" }))
    {
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.TemplateTypeId)
        @Html.HiddenFor(x => x.TicketId)
        <div class="row clearfix">
            <div class="col-12">
                @RenderBody()
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Save Template Info" class="btn btn-sm btn-success" />
                            <button type="button" class="btn btn-sm btn-danger" onclick="deleteTemplate(@Model.Id,this)">Delete</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    }
</div>
