@model SBC.TimeCards.Service.Models.Templates.TemplateViewModel
@{
    Layout = "~/Views/Templates/_TemplateLayout.cshtml";
}

<h4 style="background-color: #e9ecef;padding: 0px 0px 0px 16px;">User</h4>

<div class="row">
    <div class="col-4">
        @*<label class="control-label col-md-4 " for="AssigneeId">Server Name</label>*@
        @Html.LabelFor(x => x.UserName, new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="col-4">
        @*<label class="control-label col-md-4 " for="AssigneeId">Server Name</label>*@
        @Html.LabelFor(x => x.Password, new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-eyeglasses"></i></span>
                </div>
                @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="col-4">
        @*<label class="control-label col-md-4 " for="AssigneeId">Server Name</label>*@
        @Html.LabelFor(x => x.Role, new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-badge"></i></span>
                </div>
                @Html.TextBoxFor(x => x.Role, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="col-4">
        @*<label class="control-label col-md-4 " for="AssigneeId">Server Name</label>*@
        @Html.LabelFor(x => x.OU, new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-globe"></i></span>
                </div>
                @Html.TextBoxFor(x => x.OU, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="col-4">
        @*<label class="control-label col-md-4 " for="AssigneeId">Server Name</label>*@
        @Html.LabelFor(x => x.ExpirationDate, new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-calendar"></i></span>
                </div>
                @Html.TextBoxFor(x => x.ExpirationDate, new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>
