<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - Task Management</title>
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/Lucid/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Lucid/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Lucid/assets/vendor/jvectormap/jquery-jvectormap-2.0.3.min.css" />
    <link rel="stylesheet" href="/Lucid/assets/vendor/morrisjs/morris.min.css" />
    <link rel="stylesheet" href="/Lucid/assets/vendor/nestable/jquery-nestable.css" />
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/Lucid/light/assets/css/main.css">
    <link rel="stylesheet" href="/Lucid/light/assets/css/color_skins.css">
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
    <style>
        .xx {
            display: none;
            position: absolute;
            width: 100%;
            background-color: white;
            text-align: center;
            margin-top: 2px;
            border-radius: 3px;
        }
    </style>
</head>

<body class="theme-blue">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img src="~/Theme/img/logo.png" width="100" alt="Lucid"></div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- Overlay For Sidebars -->
    <div id="wrapper">
        <!-- Topbar -->
        @Html.Partial("_Navbar")
        <!-- End of Topbar -->
        <!-- Sidebar -->
        @Html.Action("Index", "Sidebar")
        <!-- End of Sidebar -->
        <div id="main-content">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Select "Logout" below if you are ready to end your current session.
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()

                            <a class="btn btn-primary" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Javascript -->

    <script src="~/Lucid/light/assets/bundles/libscripts.bundle.js"></script>
    <script src="~/Lucid/light/assets/bundles/vendorscripts.bundle.js"></script>
    @*<script src="~/Lucid/light/assets/bundles/jvectormap.bundle.js"></script>
        <script src="~/Lucid/light/assets/bundles/morrisscripts.bundle.js"></script>
        <script src="~/Lucid/light/assets/bundles/knob.bundle.js"></script> *@
    <script src="~/Lucid/assets/vendor/nestable/jquery.nestable.js"></script>
    <script src="~/Lucid/light/assets/bundles/mainscripts.bundle.js"></script>
    @*<script src="~/Lucid/light/assets/js/pages/ui/sortable-nestable.js"></script>
        <script src="~/Lucid/light/assets/js/index2.js"></script>*@
    @RenderSection("scripts", required: false)
    <script>
        $(".yy").keyup(function () {
            search($(this).val());
        });
        function search(q) {
            if (q.length) {

                $('.xx').show();
                $("#loading").show();
                $('#s-res').hide();
                $.ajax({
                    type: 'get',
                    url: "@Url.Action("Index","Search")",
                    data: { query: q },
                    success: function (data) {
                        $("#loading").hide();
                        $('#s-res').html(data);
                        $('#s-res').show();
                    }
                });

            }
            else {
                $("#s-res").empty();
                $('.xx').hide();
            }
        }
        $(document).click(function (e) {
            var wrapper = $("#search-wrapper");
            if (!wrapper.is(e.target) && wrapper.has(e.target).length === 0) {
                $('.xx').hide();
            }
        })
        $('.yy').focus(function () {
            search($(this).val());
        })
    </script>


</body>
</html>
