@model List<SBC.TimeCards.Service.Models.Comments.CommentViewModel>
@{
    Layout = null;
}
<div class="row" id="comments">
    <div class="col-12">
        <ul class="right_chat list-unstyled mb-0">
            @foreach (var item in Model)
            {
                <li class="offline">
                    <div class="media" style="margin-bottom:1px;">
                        @*<img class="media-object " src="../assets/images/xs/avatar2.jpg" alt="">*@
                        <div class="media-object" style="width:auto">
                            <span class="name"><span class="badge">@item.User.RoleName</span> @item.User.Name</span>
                        </div>
                        <div class="media-body">
                            <span class="name"><small class="float-right">@item.CreationDate.ToString()</small></span>
                            <span class="message">@item.Text</span>
                        </div>
                    </div>
                </li>
            }
            @*<li class="offline">
                <a href="javascript:void(0);">
                    <div class="media">
                        <img class="media-object " src="../assets/images/xs/avatar1.jpg" alt="">
                        <div class="media-body">
                            <span class="name">@@Folisise Chosielie <small class="float-right">45 hours ago</small></span>
                            <span class="message">There are many variations of passages of Lorem Ipsum available, but the majority</span>
                            <span class="badge badge-outline status"></span>
                        </div>
                    </div>
                </a>
            </li>*@
        </ul>
    </div>
</div>
    @*<div class="row" id="comments">
            @foreach (var item in Model)
            {
                <div class="col-md-12">@item.Text</div>
            }
        </div>*@
